{% extends 'layout.html' %}
{% block content %}
    <h1>{{ message }}</h1>

    <table>
        <tr><th>ID</th><th>タイトル</th></tr>
        {% for post in posts %}
            {% if post.number==1 %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="/show/{{ post.id }}">{{ post.title }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <p><a href="/new">新規メモ</a></p>
    <p><a href="/garbagelist">ゴミ箱</a></p>

{% endblock %}